USE [master]
GO
/****** Object:  Database [reizen]    Script Date: 20/01/2025 23:18:43 ******/
CREATE DATABASE [reizen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'reizen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\reizen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'reizen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\reizen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reizen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reizen]
GO
/****** Object:  Table [dbo].[bestemmingen]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bestemmingen](
	[code] [char](5) NOT NULL,
	[landid] [int] NOT NULL,
	[plaats] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[boekingen]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boekingen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[klantid] [int] NOT NULL,
	[reisid] [int] NOT NULL,
	[geboektOp] [date] NOT NULL,
	[aantalVolwassenen] [int] NULL,
	[aantalKinderen] [int] NULL,
	[annulatieVerzekering] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[klanten]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klanten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[familienaam] [varchar](50) NOT NULL,
	[voornaam] [varchar](50) NOT NULL,
	[adres] [varchar](50) NOT NULL,
	[woonplaatsid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[landen]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naam] [varchar](50) NOT NULL,
	[werelddeelid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[naam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reizen]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reizen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bestemmingscode] [char](5) NOT NULL,
	[vertrek] [date] NOT NULL,
	[aantalDagen] [int] NOT NULL,
	[prijsPerPersoon] [decimal](10, 2) NOT NULL,
	[aantalVolwassenen] [int] NOT NULL,
	[aantalKinderen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[werelddelen]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[werelddelen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naam] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[naam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[woonplaatsen]    Script Date: 20/01/2025 23:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[woonplaatsen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[postcode] [int] NOT NULL,
	[naam] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[reizen] ADD  DEFAULT ((0)) FOR [aantalVolwassenen]
GO
ALTER TABLE [dbo].[reizen] ADD  DEFAULT ((0)) FOR [aantalKinderen]
GO
ALTER TABLE [dbo].[bestemmingen]  WITH CHECK ADD  CONSTRAINT [bestemmingen_landen] FOREIGN KEY([landid])
REFERENCES [dbo].[landen] ([id])
GO
ALTER TABLE [dbo].[bestemmingen] CHECK CONSTRAINT [bestemmingen_landen]
GO
ALTER TABLE [dbo].[boekingen]  WITH CHECK ADD  CONSTRAINT [boekingen_klanten] FOREIGN KEY([klantid])
REFERENCES [dbo].[klanten] ([id])
GO
ALTER TABLE [dbo].[boekingen] CHECK CONSTRAINT [boekingen_klanten]
GO
ALTER TABLE [dbo].[boekingen]  WITH CHECK ADD  CONSTRAINT [boekingen_reizen] FOREIGN KEY([reisid])
REFERENCES [dbo].[reizen] ([id])
GO
ALTER TABLE [dbo].[boekingen] CHECK CONSTRAINT [boekingen_reizen]
GO
ALTER TABLE [dbo].[klanten]  WITH CHECK ADD  CONSTRAINT [klanten_woonplaatsen] FOREIGN KEY([woonplaatsid])
REFERENCES [dbo].[woonplaatsen] ([id])
GO
ALTER TABLE [dbo].[klanten] CHECK CONSTRAINT [klanten_woonplaatsen]
GO
ALTER TABLE [dbo].[landen]  WITH CHECK ADD  CONSTRAINT [landen_werelddelen] FOREIGN KEY([werelddeelid])
REFERENCES [dbo].[werelddelen] ([id])
GO
ALTER TABLE [dbo].[landen] CHECK CONSTRAINT [landen_werelddelen]
GO
ALTER TABLE [dbo].[reizen]  WITH CHECK ADD  CONSTRAINT [reizen_bestemmingen] FOREIGN KEY([bestemmingscode])
REFERENCES [dbo].[bestemmingen] ([code])
GO
ALTER TABLE [dbo].[reizen] CHECK CONSTRAINT [reizen_bestemmingen]
GO
USE [master]
GO
