@using Model.Entities
@model IEnumerable<Werelddeel>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Werelddelen</h2>
@if(Model != null)
{
   <ul>


            @foreach (var wd in Model)
            {
               
                    <li><a asp-action="Detail" asp-route-id="@wd.Id">@wd.Naam</a></li>
                    
               
                
            }

    </ul>
}
